# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# My filter
*.opendb
*.ipch
*.db
*.user
*.tlog
*.recipe
*.db-shm
*.db-wal
*.log
*.suo
*.enc
*.ipdb
*.iobj
*.json
*.vcxproj.*
*.vcxproj
*.vsidx
*.lock
*.bin
*.props
*.stash
*.cbt
*.res
*.idx
*.natvis
SysInfo/SysInfoBack/SysInfoBack.sln
SysInfo/SysInfoBack/SysInfoBack/main.cpp
SysInfo/SysInfoBack/SysInfoBack/sys_info.cpp
SysInfo/SysInfoBack/SysInfoBack/sys_info.hpp
SysInfo/SysInfoBack/x64/Debug/SysInfoBack.exe
SysInfo/SysInfoFront/SysInfoFront.sln
SysInfo/SysInfoFront/SysInfoFront/main.cpp
SysInfo/SysInfoFront/SysInfoFront/sysinfofront.cpp
SysInfo/SysInfoFront/SysInfoFront/sysinfofront.h
SysInfo/SysInfoFront/SysInfoFront/sysinfofront.qrc
SysInfo/SysInfoFront/SysInfoFront/sysinfofront.ui
SysInfo/SysInfoFront/SysInfoFront/x64/Debug/moc/moc_sysinfofront.cpp
SysInfo/SysInfoFront/SysInfoFront/x64/Debug/qmake/temp/props.txt
SysInfo/SysInfoFront/SysInfoFront/x64/Debug/qmake/temp/qtvars.pro
SysInfo/SysInfoFront/SysInfoFront/x64/Debug/rcc/qrc_sysinfofront.cpp
SysInfo/SysInfoFront/SysInfoFront/x64/Debug/uic/ui_sysinfofront.h
SysInfo/SysInfoFront/x64/Debug/SysInfoFront.exe
